<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aia.firstspring.mybatis.mapper.memberMapper">

	<select id="selectAll"
					resultType="com.aia.firstspring.member.domain.Member"
	>
		select * from member order by membername
		
	</select>
	
	<insert id="insertMember"
					parameterType="com.aia.firstspring.member.domain.Member"
					useGeneratedKeys="true"
					keyProperty="idx"
	>
		insert into member (memberid, membername, password)
		 values(#{memberid},#{membername},#{password})
	</insert>
	
	
	
	
	
	
	
	
	
	


</mapper>