@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Stylish', sans-serif;
}

/* 프로그램 타이틀 선택 */
h1.header {
    margin:20px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc
}

h2.title {
    margin: 20px 40px;
}

#regform {
    margin: 10px 40px;
}

#regform>table {
    width: 600px;
}

#regform>table td {
    width: 120px;
    padding: 5px;
    vertical-align: top;
}

#regform>table input {
    width: 80%;
    padding : 5px;
}

#regform>table label {
    display: block;
}

#regform>table input[type=submit] {
    width:100px;
    height: 50px;
    background-color: aquamarine;
    border: 2px solid #aaa;
}

div.msg {
    color : red;
    display : none;
}


















