@charset "UTF-8";


	* {
		margin: 0;
		padding: 0;
	}
	
	body {
		padding : 10px;
	}
	
	header, nav, div.contents, footer   {
		width : 800px;
		margin : 0 auto;
		/* background-color: #EEE; */
	}
	
	header {
		padding : 10px 20px;
	}
	
	nav>ul {		
		overflow : hidden;	
		list-style: none;
		
		border-top: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		
	}
	
	nav>ul>li {
		float: left;
		padding : 5px 20px;		
	}
	
	div.contents {
		clear : both;
		
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	div.contents>h2.content_title {
		padding : 10px;
	}
	
	hr {
		border : 0;
		border-top: 1px solid #DDD;
	}
	
	div.content {
		padding : 20px 5px;
	}
	
	footer {
	
		border-top: 1px solid #DDD;
	
		padding : 10px;
		text-align: center;
	}
	
	